:root {
  --main-bg: #f7f9fa;
  --main-text: #1c1c1c;

  --accent: #ee1c27;
  --line: #7a7a7aff;

  --red: #b02323;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100vh;
  width: 100vw;
  color-scheme: light dark;
  color: var(--main-text);
  background-color: var(--main-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--main-text);
  text-decoration: inherit;
}
a:hover {
  color: var(--main-text);
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;

}
div {
  width: 100%;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
transition: transform 0.45s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.45s ease, box-shadow 0.45s ease;
    animation: fadeIn 0.3s ease forwards;
}
button:hover {
transform: scale(1.06);
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}
   
button:focus,
button:focus-visible {
  outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}button:active {
  transform: scale(0.95);
}



input:hover,
input:focus {
  background-color: transparent;
}
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
}
/* Загальні тости */
.Toastify__toast {
  border-radius: 12px;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  background: #1c1c1c;
  /* темний фон */
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  /* легке підсвічування */
}

/* Успішні тости */
.Toastify__toast--success {
  box-shadow: 0 0 15px rgba(46, 204, 113, 0.6);
}

/* Помилки */
.Toastify__toast--error {
  box-shadow: 0 0 15px rgba(231, 76, 60, 0.6);
}

/* Попередження */
.Toastify__toast--warning {
  box-shadow: 0 0 15px rgba(243, 156, 18, 0.6);
}

/* Інформаційні */
.Toastify__toast--info {
  box-shadow: 0 0 15px rgba(52, 152, 219, 0.6);
}


